@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  background-color: var(--primary-bg-color, #fff);
  color: var(--primary-text-color, #000);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 24 24"><path fill="%23000" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right -0.5rem center;
  background-size: 2.5em;
  cursor: pointer;
}

.heading {
  font-size: 16px;
}

.navbar {
  width: 100%;
}

:root {
  --primary-bg-color: #ffffff;
  --primary-text-color: #000000;
}

.dark {
  --primary-bg-color: #121212;
  --primary-text-color: #e0e0e0;
}
